# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/

# Dataset folders (important)
data/
datasets/

# Model files
*.pth
*.pt
*.h5

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Colab files
*.ipynb~

# VS Code
.vscode/

# Temporary files
*.tmp
*.bak
